name: Deploy redditchtabletopgamers-site

on:
  push:
    branches:
      - main

jobs:
  deploy:
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      APP_NAME: redditchtabletopgamers-site
      IMAGE_NAME: redditchtabletopgamers-site
      PORT: "9000"
    secrets: inherit