name: Deploy rss-feeder

on:
  push:
    branches:
      - main

jobs:
  deploy:
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      APP_NAME: rss-feeder
      IMAGE_NAME: rss-feeder
      PORT: "9000"
    secrets: inherit